@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

#page-container{
    max-width: 1050px;
    color: var(--text-color-1);
}

#info-sauveteur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

/*type text*/

.bloc_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.bloc_text .titre{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--text-color-2);
    margin-bottom: 5px;
}

.bloc_text p{
    margin-block: 0;
    margin-bottom: 5px;
}

/*info-sauveteur*/

#page-titre{
    margin-bottom: 20px;
}

#identite{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

#nom{
    font-size: 64px;
    color: var(--text-color-2);
}

#prenom{
    font-size: 48px;
}

#profession{
    font-family: 'Open Sans', sans-serif;
}

#image_profil{
    width: 385px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#dates{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#info-droite{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--text-color-3)
}

.date-format{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: var(--text-color-2);
}


